<ion-header >
  <ion-toolbar>
    <ion-title class="color">
      LM Smart Parking <button style="background-color: white;
      font-size: 27px;position: absolute;
    top: -3px;" primary large>
        <ion-icon name="car" class="color" ></ion-icon>
      </button>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
      <ion-card>
        <ion-img src="../assets/estacionamiento.jpg"></ion-img>
        <ion-card-header style="text-align: center;">
          <ion-card-subtitle>¿Qué somos? </ion-card-subtitle>
       
        </ion-card-header>
        <ion-card-content style="text-align: justify;">
            Somos una herramienta comprendida por Hardware y Software que permite al propietario de un estacionamiento tener control y automatización de su establecimiento permitiendo al usuario final ver los estacionamientos y su disponibilidad de espacios, ahorrando y optimizando tus tiempos de búsqueda de un lugar para tu auto en la ciudad.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>